// Заголовки, общие БЄМ блоки и проче...
h {
    &1 {
        font-family: $fontSecond;
        font-weight: 400;
        @include adaptiveValue("font-size", 100, 70);
        line-height: math.div(120, 100);
    }
    &2 {
        font-family: $fontSecond;
        font-weight: 700;
        @include adaptiveValue("font-size", 40, 28);
        line-height: math.div(50, 40);
    }
    &3 {
        font-family: $fontSecond;
        font-weight: 700;
        font-size: rem(28);
        line-height: math.div(37, 28);
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

._content {
    p {
        margin: rem(16) 0;
    }

    ol,
    ul {
        display: grid;
        gap: rem(16);
        margin: rem(24) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            @include adaptiveValue("padding-left", 40, 24);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }
    }

    .wp-block-table {
        overflow-x: auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            height: rem(5);
        }
        &::-webkit-scrollbar-track {
            background-color: $scrollThumb;
            border-radius: rem(5);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: rem(5);
            background-color: $scrollTrack;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

section {
    padding-top: rem(20);
    @include adaptiveValue("margin-bottom", 80, 30);

    &:not(:first-child) {
        padding-top: rem(30);
    }
}

// Анимация
@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}

// swiper
.swiper {
    // .swiper__arrows
    &__arrows {
        display: flex;
        align-items: center;
        gap: rem(15);

        @media (max-width: $mobile) {
            display: none;
        }
    }

    // .swiper__arrow
    &__arrow {
        @include adaptiveValue("font-size", 49, 32);

        &:not(.swiper-button-disabled) {
            cursor: pointer;
        }

        @media (any-hover: hover) {
            transition: $transition ease color, $transition transform 0s;

            &:not(.swiper-button-disabled) {
                &:hover {
                    color: $Red2;
                    transform: translateY(rem(2));
                }
            }
        }
    }

    // .swiper__arrow-prev
    &__arrow-prev {
    }

    // .swiper__arrow-next
    &__arrow-next {
    }
}
