// header ====================================================================================================
.logo {
	// .logo__link
	&__link {
	}

	.logo__link {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	// .logo__img
	&__img {
		// .logo__img_white
		&_white {
		}

		// .logo__img_dark
		&_dark {
		}
	}
}

.menu {
	// .menu__list
	&__list {
	}

	li {
		a {
			display: block;
			padding: rem(5);
			margin: rem(-5);
			font-size: rem(16);
			line-height: math.div(24, 16);
			text-decoration: underline transparent from-font;
			text-underline-offset: 3px;
			transition: $transition ease text-decoration 0s;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline $mainColor from-font;
				}
			}
		}
	}
}

.controls {
	display: flex;
	align-items: center;
	column-gap: rem(12);

	// .controls__link
	&__link {
		position: relative;
		font-size: rem(33);

		@media (any-hover: hover) {
			&:hover {
				animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
			}
		}
	}

	// .controls__amount
	&__amount {
		position: absolute;
		right: 0;
		top: -1px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(16);
		height: rem(16);
		border: 1.25px solid $mainColor;
		background-color: $White;
		border-radius: 50%;
		font-weight: 600;
		font-size: rem(9);
		line-height: math.div(7, 5);
		letter-spacing: rem(0.2);
	}

	._icon-home {
		@media (min-width: $mobile) {
			display: none;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: $White;
	transition: $transition ease background-color 0s;

	@media (min-width: $mobile) {
		@include adaptiveValue("padding-top", 17, 10);
		@include adaptiveValue("padding-bottom", 17, 10);
	}
	@media (max-width: $mobile) {
		padding-top: rem(10);
		padding-bottom: rem(10);
		height: rem(62);
		background-color: $White;
	}

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		column-gap: rem(16);
		justify-content: space-between;
		max-width: rem(1355);
	}

	// .header__logo
	&__logo {
		flex: 0 1 50%;
		position: relative;
		z-index: 5;

		.logo {
			// .logo__link
			&__link {
				display: inline-flex;
				align-items: center;
				max-width: rem(125);
			}

			// .logo__img
			&__img {
				// .logo__img_white
				&_white {
					display: none;
				}

				// .logo__img_dark
				&_dark {
				}
			}
		}
	}

	// .header__menu
	&__menu {
		flex: 1 0 60%;

		@media (max-width: $mobile) {
			position: fixed;
			z-index: 2;
			top: -150%;
			left: 0;
			right: 0;
			background: $White;
			height: 100%;
			min-height: 100vh;
			overflow-y: auto;
			padding: rem(100) rem(math.div($containerPadding, 2)) rem(100);
			display: grid;
			align-items: flex-start;
			align-content: space-between;
			text-align: center;
			transition: 0.5s ease top 0s;

			&::before {
				content: "";
				background: $White;
				height: rem(62);
				position: fixed;
				z-index: 2;
				top: -150%;
				left: 0;
				right: 0;
				transition: 0.5s ease top 0s;
			}

			.menu-open & {
				top: 0;

				&::before {
					top: 0;
				}
			}
		}

		.menu__list {
			@media (min-width: $mobile) {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				@include adaptiveValue("column-gap", 45, 20, 1440, 768, 1);
				row-gap: rem(8);
			}
			@media (max-width: $mobile) {
				display: grid;
				row-gap: rem(30);

				a {
					font-size: rem(22);
					line-height: math.div(24, 22);
				}
			}
		}

		.current-menu-item {
			font-weight: 700;
		}
	}

	// .header__contacts
	&__contacts {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			display: grid;
			row-gap: rem(8);

			&:not(:first-child) {
				margin-top: rem(80);
			}
		}
	}

	// .header__contact
	&__contact {
		@media (max-width: $mobile) {
			font-size: rem(18);
			line-height: math.div(25, 18);
		}
	}

	// .header__controls
	&__controls {
		@media (min-width: $mobile) {
			flex: 0 1 50%;
			display: flex;
			justify-content: flex-end;
		}
		@media (max-width: $mobile) {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $White;
			z-index: 4;
			justify-content: space-between;
			padding: rem(10) rem(math.div($containerPadding, 2));
			border-top: 1px solid $Line;
		}
	}

	._header-bg & {
		@media (min-width: $mobile) {
			background-color: transparent;

			.logo__img_white {
				display: block;
			}
			.logo__img_dark {
				display: none;
			}

			.menu li a {
				color: $White;

				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline $White from-font;
					}
				}
			}

			.controls__link {
				color: $White;
			}

			.controls__amount {
				color: $mainColor;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(31);
		height: rem(24);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			background-color: #000;
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(2));
		}

		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}

			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}
		}
	}
}
